.Header{
    /* claros especificos y simples, sin caracteres especiales */
    width: 100%;/* ancho, se puede definir mediante porcentajes o pixeles; mejor en porcentaje que en pixceles */
    height: 10%;/* altura */
    background-color: #365b77; /* color de fondo*/
    border: 1px; /* para centrar */
    font-family: var(--bs-font-sans-serif);
}

.SectionService{
    width: 100%;/* ancho, se puede definir mediante porcentajes o pixeles; mejor en porcentaje que en pixceles */
    height: 100%;
    background-color: white;
    float: left;
    font-family: var(--bs-font-sans-serif);
    /* overflow-x: scroll */
}

.Footer{
    width: 100%;/* ancho, se puede definir mediante porcentajes o pixeles; mejor en porcentaje que en pixceles */
    height: 10%;
    background-color: #153f59;
    float: left;
    font-family: var(--bs-font-sans-serif);
}

.Container{
    width: 98vw;
    height: 100vh;
    margin: auto;
}

.Menu{
    width: 99%;
    margin:auto;
    text-align:center;
    font-size: medium;
    font-family: var(--bs-font-sans-serif);
}

.slider-container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
  
    /* Vamos a añadir esto 👇 */
    scroll-snap-type: x mandatory;
}
  
  .slider-container img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
  
    /* Vamos a añadir esto 👇 */
    scroll-snap-align: center;
}

            
nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    } 
    nav li{
    display:inline-block;
    width:10%;
    padding:5px 10px;
    background-color:#365b77;
    border:1px solid #365b77;
    text-align:center;
    color:#fff;
    margin: 0 .75rem;
    }
    nav li:hover{
    background-color:#fff;
    color:#365b77;
    }

.contenedor{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    font-family: var(--bs-font-sans-serif);
}

.contenedor .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.contenedor .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.contenedor .card img{
    width: 330px;
    height: 220px;
    text-align: center;
}

.contenedor .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}